# Task1
Write a Python program to add an item to a tuple.

In [20]:
t=(7,6,5,4,3,2)
lst=list(t)
lst.append(1)
t=tuple(lst)
t

(7, 6, 5, 4, 3, 2, 1)

# Task2
Write a Python program to sum all the items in a list.

In [6]:
lst=[1,2,3,4,5,6]
sum(lst)

21

# Task3
Write a Python program to multiply all the items in a list.

In [10]:
Mul=1
for i in range (len(lst)-1):
 Mul=Mul*lst[i]

print(Mul)

120

# Task4
Write a Python program to get the smallest number from a list.

In [11]:
min(lst)

1

# Task5
Write a Python program to get the largest number from a list.

In [12]:
max(lst)

6

# Task6 
Write a Python program to count the number of strings from a given list of 
strings.

In [14]:
lstr=["amit","learning","Ai","python"]
len(lstr)

4

# Task7
Write a Python program to clone or copy a list

In [16]:
lst2=lstr.copy()
lst2

['amit', 'learning', 'Ai', 'python']

# Task8
Write a Python program to remove item(s) from a given set.

s = set([0, 1, 3, 4, 5])

In [27]:
s = set([0,1,3,4,5])
s.remove(5)
s

{0, 1, 3, 4}

# Task9
Write a Python program to find the maximum and minimum values in a set.

In [31]:
print(min(s), max(s))

0 4

# Task10
Write a Python program to convert a tuple to a dictionary.

In [56]:
t=((1,"A"),(2,"B"),(3,"C"))
dict ={}
for i,j in t:
    dict.setdefault(i,[]).append(j)

print(dict)

{1: ['A'], 2: ['B'], 3: ['C']}

# Task11
Write a Python program to reverse a tuple.

In [33]:
t[::-1]

(1, 2, 3, 4, 5, 6, 7)

# Task12
Write a Python program to convert a list of tuples into a dictionary

In [54]:
di={}
lst=[(0,"x"),(1,"y"),(3,"z")]
for i,j in lst:
 di.setdefault(i,[]).append(j)

print(di)

{0: ['x'], 1: ['y'], 3: ['z']}

# Task13
Write a Python program to replace the last value of tuples in a list.

Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [1]:
list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
list = [(t[:-1] + (100,)) for t in list]
list

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

# Task14
Remove the illegal characters in the variable name:

var_name = "%%6student_name$^$%#"

illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?~"

output is "student_name"

In [4]:
var_name = "%%6student_name^ %#"
illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\;:'\",.<>/?~"

var_name = ''.join(i for i in var_name if i not in illegal_chars)
var_name

'student_name '

# Task15
Write a Python program to print the even and odd numbers in a series of numbers

Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
    
Expected Output :
    
Number of even numbers : 2,4,6,8
    
Number of odd numbers : 1,3,5,7,9

In [42]:
even = []
odd=[]
s=(1,2,3,4,5,6,7,8,9)
for i in range(0,len(s)-1):
    if(s[i]%2==0):
        even.append(s[i])
    else:
        odd.append(s[i])

print("Number of even number:",even)
print("Number of odd number:",odd)

Number of even number: [2, 4, 6, 8]
Number of odd number: [1, 3, 5, 7]

# Task16
Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".

In [36]:
for i in range(1,50):
    if(i%3==0):
        print("Fizz")
    elif(i%5==0):
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49

# Task17
After you have finished the second session, can you explain briefly what information was learned and also what information you learned through the search?